<div class="col">

  <div class="card">
    <div
      style="background-image: url({{this.images}}); height:200px; background-position: center;
  background-repeat: no-repeat; background-size: cover;"
    ></div>
    <div class="card-body">
      <p class="card-text">{{this.description}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{this.updatedAt}}</small>
    </div>
  </div>
</div>