<section id="footer">
  <div class="container">
    <footer class="row row-cols-2 py-3">
      <div class="col-md-6 col-12">
        <p class="text-light mb-0">© 2022</p>
      </div>
      <div class="col-md-6 col-12">
        <p class="text-light text-center mb-0">Made by María Gallego, Calvin Torra & Robert Cabrera.</p>
      </div>
    </footer>
  </div>
</section>

