<div id="map" style="width: 400px; height: 300px;">
  <script>
   L.mapbox.accessToken =
    'pk.eyJ1IjoibWFnYWJvbyIsImEiOiJjbDA5eGhqOTAwNWQ4M21wY2drZjRvN2N3In0.GdYfQ1DulUyzdva_gWc9kQ';
    const map = L.mapbox.map('map')
    .setView([40.15589592729463, -5.24220097659618], 9)
    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
  </script>
</div>
