<div id="map" style="width: 400px; height: 300px;">
  <script>
   mapboxgl.accessToken =
    'pk.eyJ1IjoibWFnYWJvbyIsImEiOiJjbDA5eGhqOTAwNWQ4M21wY2drZjRvN2N3In0.GdYfQ1DulUyzdva_gWc9kQ';

     const long = {{restaurant.coordenates.[0]}};
     const lat = {{restaurant.coordenates.[1]}}
     const map = new mapboxgl.Map({

     container: 'map',  // <-- container id
     style: 'mapbox://styles/mapbox/streets-v11',
     center: [long, lat], 
     zoom: 11,
   });

   const marker = new mapboxgl.Marker()
   .setLngLat([long, lat])
   .addTo(map);

  const geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl, //set the mapbox-gl instance
  });

  map.addControl(geocoder);  // add geocoder to map
  </script>
</div>
