/* VARIABLES */
:root {
  --main-color: #1ba87e;
  --secondary-color: #f1c810;
  --white-color: #fff;
  --black-color: #212529;
  --title-font: "Merriweather", serif;
}

.card-images {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-card-images {
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail-images {
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* .comment-images {
  height: 120px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.avocado-button {
  position: absolute;
  bottom: -25px;
  right: 10%;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
}

.avocado-detail-page {
  margin-top: -10px;
}

.write-a-review {
  margin-top: 120px;
}

.icon-avocado {
  /* we can change the image here i think */
  /* We can't use bgimage on img tag */
  /* width: 20px; */
  /* height: 20px; */
  /*   background: url('/img/avoTwo.svg') */
}

.avocado-events-none {
  background: url("/img/avoOne.svg");
}

/* default styles for avocado button on list page */
.list-page-advocado {
  width: 100%;
  height: 100%;
  background: url("../img/avoOne.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Toggle this to change the avocado on the list page */
/* Just changing the background image */
.list-page-advocado-active {
  width: 100%;
  height: 100%;
  background: url("../img/avoTwo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-picture {
  width: 120px;
  height: auto;
  border-radius: 100%;
}

.avocado-events-none {
  background: url("/img/avoOne.svg");
}

.required-form-input {
  color: red;
}

.btn-edit {
  display: none;
}

/* GENERAL STYLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-main {
  background-color: #02aa7d;
}

/* .border-secondary-color {
  border: solid 2px;
  border-color: var(--secondary-color);
} */

.white-color {
  color: var(--white-color) !important;
}

.card-body__link {
  color: var(--main-color);
  text-decoration: none;
}

.card-body__link:hover {
  color: var(--secondary-color);
}


h1, h2, h3, h4 {
  font-family: var(--title-font);
  font-weight: 900;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  border: 2px solid;
  border-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.2s ease;
  font-size: 20px;
}

.button:hover {
  background-color: var(--white-color);
  color: var(--main-color);
  border-color: var(--white-color);
}

.button--border {
  background-color: var(--main-color);
  border: 2px solid;
  border-color: var(--white-color);
  color: var(--white-color);
}

.button--border:hover {
  background-color: var(--white-color);
  border-color: var(--white-color);
  color: var(--main-color);
}



/* HOME */
/* HOME -- BANNER */
#banner {
  background-image: url("/img/home-banner-bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .banner {
    flex-direction: column;
  }
}

.home-page-bg {
  background-color: var(--main-color);
  width: 100%;
}

.banner__content {
  width: 35%;
  margin-right: 5%;
}

@media (max-width: 767px) {
  .banner__content {
    width: 100%;
    margin-right: 0%;
  }
}

.banner__img {
  width: 60%;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .banner__img {
    width: 100%;
  }

  .banner__avocado {
    width: 100%;
  }
}

.banner__avocado {
  width: 80%;
}

.banner__title {
  color: var(--white-color);
  font-family: var(--title-font);
  font-size: 60px;
}

.banner__subtitle {
  color: var(--white-color);
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 30px;
}




/* HOME -- CONDITIONS */
#conditions {
  margin: 125px 0px;
}

.conditions {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  .conditions {
    flex-direction: column;
  }
}

.condition {
  width: 30%;
  background-color: var(--secondary-color);
  padding: 40px 20px;
  margin: 0 auto;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .condition {
    width: 100%;
    margin-bottom: 25px;
  }
}

.condition__text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.condition__content {
  margin-bottom: 0;
}

.condition__img {
  width: 16%;
  height: auto;
  margin-right: 10px;
}

.condition__title {
  display: inline-block;
  margin-bottom: 0;
}

/* HOME -- RESTAURANTS */
#restaurants {
  padding: 0px 0px 150px;
  background-image: url("/img/bg-pattern-final.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}

.restaurants {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 767px) {
  .restaurants {
    flex-direction: column;
  }
}

.restaurants__img {
  width: 50%;
}

@media (max-width: 767px) {
  .restaurants__img {
    width: 100%;
  }
}

.restaurants__plate {
  width: 100%;
}

.restaurants__text {
  width: 50%;
}

@media (max-width: 767px) {
  .restaurants__text {
    width: 100%;
  }
}

.restaurants__title {
  font-size: 40px;
}

.restaurants__content {
  margin-bottom: 40px;
}

.button--green {
  background-color: var(--main-color);
  border: 2px solid;
  border-color: var(--main-color);
  color: var(--white-color);
}

.button--green:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--white-color);
}



/* RESTAURANTS */
#restaurant-header {
  background-image: url("/img/banner-restaurants-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#list {
  margin-top: 25px;
  margin-bottom: 75px;
}

.restaurant-title {
  color: var(--white-color);
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
  font-size: 60px;
}



/* RESTUARANT DETAIL */
#header-restaurant-detail {
  background-image: url("/img/header-restaurant-detail.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 0%;
  width: 100%;
  margin-bottom: 50px;
}

.single-restaurant__slider {
  width: 80%;
  margin: 0 auto;
  border: solid 5px;
  border-color: var(--white-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .single-restaurant__slider {
    width: 100%;
  }
}

.single-restaurant__name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 25px;
}


@media (max-width: 767px) {
  .single-restaurant__name {
    flex-direction: column  ;
  }
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 767px) {
  .details {
    flex-direction: column;
  }
}

#restaurant-detail {
  width: 80%;
  margin: 100px auto;
}

@media (max-width: 767px) {
  .detail__map {
    margin-bottom: 50px;
  }
  
  .restaurant-map {
    width: 360px !important;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  #restaurant-detail {
    width: 100%;
  }
}

.circle-icon {
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}

#reviews {
  background-image: url("/img/restaurant-detail-comments-bg.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding-bottom: 300px;
}

.comment__title {
  text-align: center;
}

.form-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px 15px;
}

.form-buttons__edit {
  margin-right: 15px;
}





/* REGISTER */
#register-bg {
  background-image: url('/img/banner-register-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  padding-bottom: 250px;
}






/* LOGIN */
#login {
  background-image: url("/img/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  height: calc(100vh - 112px);
  width: 100%;
}

@media (max-width: 767px) {
  #login {
    background-image: url('/img/login-bg.jpg');
  }

  .bg-form {
    background-color: rgba(255, 255, 255, 0.9);
  }
}



/* NEW RESTAURANT */
#new-restaurant {
  background-image: url('/img/new-restaurant-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  width: 100%;
  padding: 100px 0px;
}

@media (max-width: 767px) {
  #new-restaurant {
    background-image: none;
  }
}


/* UPDATE COMMENT */
#update-comment {
  height: calc(100vh - 162px);
  align-items: flex-start;
  margin-top: 50px;
  display: flex;
}



/* FOOTER */
#footer {
  background-color: var(--black-color);
  position: relative;
  bottom: 0;

  
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #2aa87e;
  border-color: #2aa87e;
}

.page-link {
  color: #2aa87e;
}

.page-link:hover {
  color: #2aa87e;
}

.btn-primary {
  background-color: #2aa87e;
  border-color: #2aa87e;
}

.btn-primary {
  background-color: #2aa87e;
  border-color: #2aa87e;
}

.btn-primary:hover {
  background-color: #2aa87e;
  border-color: #2aa87e;
}

.btn-primary:active {
  background-color: #2aa87e;
  border-color: #2aa87e;
}

.btn-primary:focus {
  background-color: #2aa87e;
  border-color: #2aa87e;

}
