.card-images {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail-images {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avocado-button {
  position: absolute;
  bottom: -25px;
  right: 10%;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.icon-avocado {
  /* we can change the image here i think */
  /* We can't use bgimage on img tag */
  /* width: 20px; */
  /* height: 20px; */
  background: url('/img/avoTwo.svg')
}
