<section class="home-page-bg" id="banner">
  <div class="container" >
    <div class="banner">
      <div class="banner__content">
        <h1 class="banner__title">Lorem ipsum dolor sit amet</h1>
        <p class="banner__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia commodi a molestiae asperiores. Tempora quod cumque quidem libero commodi dicta eos saepe labore quo. Optio voluptatem sapiente dolores laboriosam modi.</p>
        <a href="/register" class="button">Register</a>
        <a href="/login" class="button button--border">Login</a>
      </div>
      <div class="banner__img">
        <img class="banner__avocado" src="/img/home-banner-plato-final.png" alt="">
      </div>
    </div>
  </div>
</section>

<section id="conditions">
  <div class="container conditions">
    <div class="condition">
      <div class="condition__text">
        <img class="condition__img" src="/img/delivery-icon.png" alt="">
        <h4 class="condition__title">Fastest delivery</h4>
      </div>
        <p class="condition__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, assumenda ducimus.</p>
    </div>
    <div class="condition">
      <div class="condition__text">
        <img class="condition__img" src="/img/choose-icon.png" alt="">
        <h4 class="condition__title">So much to choose from</h4>
      </div>
        <p class="condition__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, assumenda ducimus.</p>
    </div>
    <div class="condition">
      <div class="condition__text">
        <img class="condition__img" src="/img/offer-icon.png" alt="">
        <h4 class="condition__title">Best offers in town</h4>
      </div>
        <p class="condition__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, assumenda ducimus.</p>
    </div>
  </div>
</section>
  
<section id="restaurants">
  <div class="container restaurants">
    <div class="restaurants__img">
      <img class="restaurants__plate" src="/img/home-restaurants-img.png" alt="">
    </div>
    <div class="restaurants__text">
      <h2 class="restaurants__title">Lorem ipsum dolor</h2>
      <p class="restaurants__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia commodi a molestiae asperiores. Tempora quod cumque quidem libero commodi dicta eos saepe labore quo. Optio voluptatem sapiente dolores laboriosam modi.</p>
      <a href="/restaurants" class="button button--green">View all restaurants</a>
    </div>
  </div>
</section>  